# PDF Table Extraction - Global Startup Ecosystem Report

Steps:
- Read in PDF (GlobalStartupEcosystemReport2019-v1.6.pdf link: https://cdn.startupgenome.com/sites/5c98cab2fb6681000470c58c/content_entry5c98d00fa9239e000d566f7b/5cd3198655c65d000da56f93/files/GlobalStartupEcosystemReport2019-v1.6.pdf?1566988745)
- Capture relevant tables
- Clean tables 
- Optional export to CSV

In [2]:
import tabula
import pandas as pd
import warnings;
warnings.filterwarnings('ignore');

In [41]:
from IPython.display import Image
from IPython.core.display import HTML

In [3]:
# readinf the PDF file that contain Table Data
# you can find find the pdf file with complete code in below
# read_pdf will save the pdf table into Pandas Dataframedf = tabula.read_pdf("offense.pdf")# in order to print first 5 lines of Tabledf.head()

In [4]:
pdf_path = "GlobalStartupEcosystemReport2019-v1.6.pdf"

In [5]:
#ranking = tabula.read_pdf(pdf_path, area=(198.61,106.81,578.64,1319.53), pages=29)
#ranking.head()

### Page 29 - 2019 Global Startup Ecosystem Ranking

In [43]:
Image(url= "page29.png", width=500, height=400)

In [6]:
ranking_page = tabula.read_pdf(pdf_path, pages=29, stream=True,pandas_options={'header': None})

In [7]:
r_page_nd = ranking_page.drop_duplicates()

In [8]:
r_page_nd.columns = ["City", "Ranking", "Change from 2017", "Performance", "Funding", "Market Reach", "Connectedness", "Talent",
          "Experience", "Knowledge", "Growth Index"]

In [11]:
r_page_nd.reset_index(drop=True, inplace=True)

In [12]:
r_page_nd = r_page_nd.drop([3,7], axis=0)

#### Clean table

In [14]:
r_page_nd

,City,Ranking,Change from 2017,Performance,Funding,Market Reach,Connectedness,Talent,Experience,Knowledge,Growth Index
0,Silicon Valley,1,0,1st,1st,1st,1st,1st,1st,1st,5.0
1,New York City,2,0,1st,1st,3rd,2nd,2nd,1st,2nd,6.0
2,London,NaN,0,1st,1st,1st,1st,2nd,2nd,1st,6.0
4,Beijing,NaN,1,1st,1st,5th,5th,1st,1st,1st,4.0
5,Boston,5,0,1st,2nd,2nd,3rd,1st,1st,2nd,7.0
6,Tel Aviv,NaN,0,2nd,2nd,2nd,1st,2nd,2nd,1st,6.0
8,Los Angeles,NaN,3,1st,1st,3rd,4th,3rd,2nd,3rd,5.0
9,Shanghai,8,0,2nd,2nd,2nd,4th,1st,3rd,1st,6.0
10,Paris,9,2,2nd,1st,3rd,2nd,3rd,3rd,2nd,8.0
11,Berlin,10,-3,3rd,2nd,1st,1st,2nd,3rd,4th,6.0
12,Stockholm,11,3,3rd,2nd,2nd,2nd,4th,2nd,2nd,7.0
13,Seattle,12,-2,2nd,3rd,3rd,3rd,1st,1st,3rd,5.0
14,Toronto-Waterloo,13,3,3rd,2nd,1st,3rd,4th,4th,3rd,5.0
15,Singapore,14,-2,2nd,4th,4th,1st,2nd,3rd,4th,5.0
16,Amsterdam-StartupDelta,15,4,2nd,3rd,5th,3rd,5th,4th,3rd,7.0
17,Austin,16,-3,3rd,3rd,4th,4th,1st,1st,3rd,5.0
18,Chicago,17,1,3rd,4th,4th,5th,3rd,4th,5th,4.0
19,Bangalore,18,2,3rd,4th,5th,2nd,4th,4th,2nd,7.0
20,"Washington, D.C.",19,NEW,4th,3rd,3rd,5th,4th,2nd,4th,5.0
21,San Diego,20,NEW,4th,3rd,4th,4th,3rd,3rd,4th,6.0
22,Denver-Boulder,21,NEW,4th,4th,4th,4th,3rd,2nd,4th,7.0
23,Lausanne-Bern-Geneva,22,NEW,4th,4th,2nd,3rd,5th,5th,2nd,9.0
24,Sydney,23,-6,5th,5th,5th,2nd,4th,5th,5th,7.0
25,Vancouver,24,-9,4th,5th,1st,3rd,3rd,3rd,3rd,6.0
26,Hong Kong,25,NEW,5th,5th,2nd,1st,4th,5th,5th,6.0
27,Atlanta,NaN,NEW,5th,5th,4th,5th,2nd,4th,5th,4.0
28,Barcelona,NaN,NEW,5th,4th,5th,4th,5th,5th,5th,6.0
29,Dublin,26-30,NEW,5th,3rd,5th,5th,5th,4th,5th,5.0
30,Miami,NaN,NEW,4th,5th,1st,5th,5th,5th,4th,5.0
31,Munich,NaN,NEW,5th,5th,3rd,2nd,5th,5th,1st,7.0

In [51]:
#export to csv
#csv_backup = r_page_nd.to_csv("csv_backup.csv", index=False)

### Page 54 - Decline Sub-Sectors

In [44]:
Image(url= "page54.png", width=500, height=400)

In [16]:
sub_sectors = tabula.read_pdf(pdf_path, pages=54, stream=True)

In [17]:
sub_sectors.drop('Decline Sub-Sectors', axis=1, inplace=True)
sub_sectors.drop([0,2,4,6], axis=0, inplace=True)

In [18]:
sub_sectors.columns = ["Early Stage Deals 5-Year Growth - Combo", "Exits 5-Year Growth, Count", "Share of Global Startups", "Startup Creation Growth"]

In [19]:
sub_sectors['Sub-Sector'] = sub_sectors["Early Stage Deals 5-Year Growth - Combo"].str.split(' ').str[0]
sub_sectors['Early Stage Deals 5-Year Growth'] = sub_sectors["Early Stage Deals 5-Year Growth - Combo"].str.split(' ').str[-1]

In [20]:
sub_sectors.drop("Early Stage Deals 5-Year Growth - Combo", axis=1, inplace=True)

In [21]:
sub_sectors.iloc[1]['Sub-Sector'] = "Digital Media"

In [22]:
sub_sectors = sub_sectors.reindex(columns=['Sub-Sector', 'Early Stage Deals 5-Year Growth', 'Exits 5-Year Growth, Count', 
        'Share of Global Startups', 'Startup Creation Growth'])

#### Clean table

In [23]:
sub_sectors

,Sub-Sector,Early Stage Deals 5-Year Growth,"Exits 5-Year Growth, Count",Share of Global Startups,Startup Creation Growth
1,Edtech,-15.8%,99.1%,3.1%,0.9%
3,Digital Media,-38.9%,30.1%,20.7%,-7.5%
5,Gaming,-40.4%,31.7%,4.5%,-12.0%
7,Adtech,-47.9%,29.9%,4.2%,-9.8%

In [57]:
#export to csv
#csv_backup = sub_sectors.to_csv("sub_sectors_backup.csv", index=False)

### Page 30 - Software Ecosystem Ranking Comparison, 2017-2019

In [47]:
Image(url= "page30.png", width=300, height=400)

In [24]:
software_ecosystem = tabula.read_pdf(pdf_path, pages=30, stream=True)

In [25]:
software_ecosystem.drop(['Unnamed: 5','Unnamed: 6', 'Unnamed: 3'], axis=1, inplace=True)
software_ecosystem.drop([0,1,2,3], axis=0, inplace=True)
software_ecosystem.columns = ["Country", "2019 Global Ecosystem Ranking", "2019 Software Ecosystem Ranking", "2017 Software Ecosystem Ranking"]
software_ecosystem = software_ecosystem.dropna(axis=0)

In [26]:
software_ecosystem.reset_index(inplace=True, drop=True)

#### Clean table

In [27]:
software_ecosystem

,Country,2019 Global Ecosystem Ranking,2019 Software Ecosystem Ranking,2017 Software Ecosystem Ranking
0,Silicon Valley,1,1,1
1,New York City,2,2,2
2,London,3-4,3,3
3,Beijing,3-4,3,4
4,Boston,5,5,5
5,Tel Aviv,6,6,6
6,Berlin,10,10,7
7,Shanghai,8,9,8
8,Los Angeles,6,6,9
9,Seattle,12,12,10
10,Paris,9,8,11
11,Singapore,14,14,12
12,Austin,16,15,13
13,Stockholm,11,11,14
14,Vancouver,Outside Top 20,Outside Top 20,15
15,Toronto-Waterloo,13,13,16
16,Sydney,Outside Top 20,Outside Top 20,17
17,Chicago,17,19,18
18,Amsterdam-StartupDelta,15,16,19
19,Bangalore,18,17,20

In [53]:
#export to csv
#csv_backup = software_ecosystem.to_csv("software_ecosystem_backup.csv", index=False)

### Page 33 - Software Ecosystem Ranking Comparison, 2017-2019

In [49]:
Image(url= "page33.png", width=400, height=300)

In [28]:
major_hubs = tabula.read_pdf(pdf_path, pages=33, stream=True)

In [29]:
major_hubs.drop(['Unnamed: 4', 'Unnamed: 5'], axis=1, inplace=True)
major_hubs.columns = ['Ecosystem', 'Ranking', 'Country', 'Continent']
major_hubs = major_hubs.dropna(axis=0)
major_hubs.reset_index(inplace=True, drop=True)

#### Clean table

In [30]:
major_hubs

                 Ecosystem  Ranking      Country      Continent
0                 Shanghai      8.0        China   Asia-Pacific
1                    Paris      9.0       France         Europe
2                   Berlin     10.0      Germany         Europe
3                Stockholm     11.0       Sweden         Europe
4                  Seattle     12.0          USA  North America
5         Toronto-Waterloo     13.0       Canada  North America
6                Singapore     14.0    Singapore   Asia-Pacific
7   Amsterdam-StartupDelta     15.0  Netherlands         Europe
8                   Austin     16.0          USA  North America
9                  Chicago     17.0          USA  North America
10               Bangalore     18.0        India   Asia-Pacific
11                  Sydney     23.0    Australia   Asia-Pacific
12               Vancouver     24.0       Canada  North America

In [56]:
#export to csv
#csv_backup = major_hubs.to_csv("major_hubs_backup.csv", index=False)

### Page 34 - Software Ecosystem Ranking Comparison, 2017-2019

In [50]:
Image(url= "page34.png", width=500, height=400)

In [31]:
page_34 = tabula.read_pdf(pdf_path, pages=34, lattice=True, pandas_options={'header': None})

#### Momentum Startup Ecosystems

In [32]:
momentum = page_34.iloc[0:13]
momentum.drop(2, axis=1, inplace=True)
momentum.drop([0,1,2], axis=0, inplace=True)

In [33]:
momentum.columns = ['Ranking', 'Country', 'Continent']

In [34]:
momentum['Ecosystem'] = ['Washington, D.C.', 'San Diego', 'Denver-Boulder', 'Lausanne-Bern-Geneva', 'Hong Kong', 
'Atlanta', 'Barcelona', 'Dublin', 'Miami', 'Munich']

In [35]:
momentum = momentum.reindex(columns=['Ecosystem', 'Ranking', 'Country', 'Continent'])

#### Clean table

In [36]:
momentum

               Ecosystem Ranking      Country      Continent
3       Washington, D.C.      19          USA  North America
4              San Diego      20          USA  North America
5         Denver-Boulder      21          USA  North America
6   Lausanne-Bern-Geneva      22  Switzerland         Europe
7              Hong Kong      25        China   Asia-Pacific
8                Atlanta   26-30          USA  North America
9              Barcelona   26-30        Spain         Europe
10                Dublin   26-30      Ireland         Europe
11                 Miami   26-30          USA  North America
12                Munich   26-30      Germany         Europe

#### Challenger Startup Ecosystems

In [37]:
challenger = page_34.iloc[42:]

In [38]:
challenger.drop([2,3], axis=1, inplace=True)
challenger.columns = ['Country', 'Continent']

In [39]:
challenger['Ecosystem'] = ['Greater Helsinki', 'Hangzhou', 'Jakarta', 'Lagos', 'Melbourne', 'Montreal', 'Moscow', 
'Mumbai', 'São Paulo', 'Seoul', 'Shenzhen', 'Tokyo']
challenger = challenger.reindex(columns=['Ecosystem', 'Country', 'Continent'])
challenger.reset_index(drop=True, inplace=True)

#### Clean table

In [40]:
challenger

           Ecosystem    Country      Continent
0   Greater Helsinki    Finland         Europe
1           Hangzhou      China   Asia-Pacific
2            Jakarta  Indonesia   Asia-Pacific
3              Lagos    Nigeria         Africa
4          Melbourne  Australia   Asia-Pacific
5           Montreal     Canada  North America
6             Moscow     Russia         Europe
7             Mumbai      India   Asia-Pacific
8         São Paulo     Brazil  South America
9              Seoul      Korea   Asia-Pacific
10          Shenzhen      China   Asia-Pacific
11             Tokyo      Japan   Asia-Pacific

In [55]:
#export to csv
#csv_backup = momentum.to_csv("momentum_backup.csv", index=False)
#csv_backup = challenger.to_csv("challenger_backup.csv", index=False)